div{
    height: 400px;
    width: 500px;
    background-color: black;
    color: white;
    font-size: large;
}
@media(max-width:400px) and (max-height:200px){
    h1{
        font-size: smaller;
    }
    span{
        display: none;
    }
}  
